@use '../../foundation/_variable' as *;
@use '../../foundation/_mixin' as *;
@use '../../foundation/_keyframes' as *;

.c-form {
  width: 100%;
  @include flex($direction: column, $gap: 10);
  &:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid $gray-light2;
  }
  &__title {
    width: 150px;
    color: $navyBlue-light;
    @include font(16, 16, 8, 600);
  }
  &__group {
    flex: 1;
    width: 100%;
    @include flex($direction: column, $gap: 15);
  }
  &__input {
    width: 100%;
    @include flex($direction: column, $gap: 5);
  }
  &__label {
    @include font(14, 14, 8, 600);
  }
  @include mq() {
    //@include flex($direction: column, $gap: 10);
    &__title {
      width: 100%;
    }
    &__group {
      flex: initial;
    }
  }
}